.contactform-container{
  padding: 40px 30px !important;
  background-color: #fff;
  text-align: center;
  max-width: 1200px;
  border-radius: 10px;
  flex-direction: row;
  display: flex;
  flex-direction: column;
}

.contact-box-form{
  max-width: 800px;
}

.contact-box-form form input, select, textarea{
  width: 100%;
  font-size: 18px;
  background-color: whitesmoke;
  border: none;
  color: #888888;
  padding: 10px 15px;
  border-radius: 4px;
}

.contactform-container form input:focus{
  outline: 1px solid #b6b6b6;
}

.contactform-container form textarea:focus{
  outline: 1px solid #b6b6b6;
}

.contactform-container form input::placeholder{
  color: #888888;
}

.contactform-container form select:focus{
  outline: none;
}

.contactform-container form textarea{
  height: 250px;
}

.contactform-container form button{
  padding: 20px 40px;
  border: none;
  font-size: 25px;
  background-color: #00b33c;
  color: #fff;
  margin-top: 40px;
  border-radius: 4px;
}

select option{
  color: #5c5b5b;
}

.contactform-container form input, select{
  height: 50px;
  margin-bottom: 16px;
  border: none;
}
.image-contact-form img{
  width: 100%;
}

@media (max-width: 1260px) {
  .contactform-container{
    margin: 30px;
  }
  
}
@media (min-width:800px) {
  .contactform-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }

  .contact-box-form{
    width: calc(65% - 30px);
    margin-left: 0;
  }

  .image-contact-form{
    width: calc(35% - 30px);
    margin-right: 0;
  }
  
}

@media (max-width:800px) {
  .image-contact-form img{
    width: 70%;
    margin: 20px auto;
  }
}