.about{
    text-align: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    background: #fff;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .title{
    padding: 30px 0;
}
.about .info{
    text-align: justify;
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.about-img{
    border-radius: 50%;
    width: 150px; 
}
/* @media (max-width: 1260px) {
    .about .info{
        padding: 10px 30px;
    }
} */