footer{
    text-align: center;
    color: #fff;
    background-image: url(../../assets/images/footerback.jpg);
}

footer strong{
    color: #00b33c;
}

.foot-top-con{
    padding: 25px 0;
    text-align: left;
}

.footer-item{
    background-color:#22222200 !important;
    text-align: left !important;
    padding: 20px 0 !important;
}

.foot-top-con h3{
    padding-bottom: 20px;
}

.foot-top-con p{
    line-height: 32px;
    padding-bottom: 20px;
}
.foot-top-con i{
    padding-right: 5px;
    color: #00b33c;
}
.foot-bottom-con{
    background-color: #222222;
    text-align: center;
    padding: 30px 15px;
}

.copyright{
    margin-bottom: 10px;
}

.footer-list h3{
    padding-bottom: 20px;
}

.footer-list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    transition: all .2s;
}

.footer-list ul li a:hover{
    color: #00b33c;
}

.foot-info h2{
    padding-bottom: 15px;
}
.foot-info p{
    line-height: 25px;
    padding-bottom: 40px;
}

.foot-info i{
    font-size: 25px;
    padding-right: 15px;
}

@media (max-width: 992px) {
    .foot-top-con {
        display: flex;
        flex-wrap: wrap;
    }

    /* دو آیتم اول هرکدام ۵۰٪ عرض بگیرند */
    .footer-item:nth-child(1),
    .footer-item:nth-child(2) {
        flex: 0 0 50%; 
        max-width: 50%;
    }

    /* آیتم سوم باید ۱۰۰٪ باشد و در سطر جدید برود */
    .footer-item:nth-child(3) {
        flex: 0 0 100% !important;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-item {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

