.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* جلوگیری از اسکرول افقی */
html, body {
  overflow-x: hidden;
  width: 100%;
}

/* اطمینان از اینکه نوبار کل عرض صفحه را می‌گیرد */
.navbar-container {
  width: 100%;
}

/* در موبایل اطمینان از اینکه منو کاملاً داخل صفحه است */
@media (max-width: 768px) {
  .navbar {
    width: 100%;  /* عرض منو هم به اندازه صفحه باشد */
    left: 0;
    right: 0;
  }
}
