/* استایل اصلی نوبار */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  padding: 20px 0; /* فاصله داخلی بالا و پایین */
}

/* کانتینر داخلی برای محدود کردن محتوا */
.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* استایل لینک‌های نوبار */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar .nav-link {
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  transition: all 0.3s;
}

.navbar .nav-link:last-child{
  padding-right: 0;
}

.navbar .nav-link:hover,
.navbar .nav-link:active {
  color: #00b33c;
}

.active {
  color: #00b33c !important;
}

/* دکمه همبرگری */
.hamburger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #00b33c;
  cursor: pointer;
  transition: transform 0.4s ease, color 0.4s ease;
}

.hamburger-menu.open {
  transform: rotate(180deg);
  color: #00b33c;
}

/* نمایش منو در موبایل */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    padding: 20px 0;
    display: none;
  }

  .navbar.open {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    padding: 10px 0;
  }

  .navbar .nav-link {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 12px 0;
  }
}

/* نمایش نرمال در دسکتاپ */
@media (min-width: 769px) {
  .navbar {
    display: flex !important;
  }
}

@media (max-width: 1260px) {
  .navbar-content{
    padding: 0 30px;
  }
}
